*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family:'Open-Sans',sans-serif;
    text-decoration: none;
    
}
body{
    background-image: url(../imagens/bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    height: 90px;
    background-color: antiquewhite;
    background-image: url(../imagens/topcover_gb_darkist.jpg);
    background-size: cover;
    background-position: center;
}
.inner-width{
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;

}
.logo{
    float: left;
    padding: 20px 0;
}
.logo-img{
    height: 50px;
}
.navigation-menu{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
}
.navigation-menu a{
    margin-left: 10px;
    text-shadow: 1px 1px wheat;
    text-transform: uppercase;
    background: rgba(128, 128, 128, 0.548);
    padding: 10px;
    color: #ddd;
    border-radius: 4px;
    transition: .3s linear;
}
.navigation-menu a:hover{
    background-color: whitesmoke;
    color: darkblue;
    transform: scale(1.1);
}
.navigation-menu i{
    margin-right: 8px;
    font-size: 16px;
}
.home{
    color:rgb(0, 0, 0) !important
}
.sobre{
    color:rgb(0, 0, 0) !important
}
.lista{
    color:rgb(0, 0, 0) !important
}
.novidades{
    color:rgb(0, 0, 0) !important
    
}
.menu-toggle-btn{
    float: right;
    height: 90px;
    line-height: 90px !important;
    color: #fff;
    font-size:26px;
    display: none !important;
    cursor: pointer;
}
section{
    color: rgb(255, 255, 255);
    width: 100%;
    text-align:center;
    text-justify: center;
}
section h1{
    font-size: 45px;
}
section h2{
    font-size: 30px;
}
section p {
    font-size: 20px;
    width: 100%;
    text-align:center;
    text-justify: center;
}
.sessao2 img{
    width: 100%;
}
@media screen and (max-width:700px) {
    .menu-toggle-btn{
        display: block !important;
    }
    .navigation-menu{
        position: fixed;
        width: 100%;
        max-width: 400px;
        background-color: rgb(39, 3, 39);
        top: 90px;
        right: 0;
        display: none;
        padding: 20px 40px;
        box-sizing: border-box;
    }
    .navigation-menu a{
        display: block;
        margin: 10px 0;
    }
    .navigation-menu::before{
        content: "";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid rgb(39, 3, 39);
        position: absolute;
        top: -10px;
        right: 10px;
    }
    .navigation-menu.active{
        display: block !important;
    }
}
